<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> About </title>
  <link rel="stylesheet" href="./style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,500;10..48,800&display=swap" rel="stylesheet">

</head>
<body>
<div class="main-div">
<h1> About the artist</h1>
  <p> An enigmatic creator shrouded in mystery, the artist wishes to remain anonymous, allowing their work to speak volumes without the constraints of identity. A connoisseur of life's simple pleasures, they find solace in serene strolls through nature and the gentle embrace of afternoon tea. However, their tastes extend beyond the traditional, as evidenced by a curious fondness for the zesty crunch of fried pickles and the camaraderie of a heated Uno game. Yet, amidst these preferred delights lie aversions equally firm: the mere mention of brussels sprouts can crinkle their brow, while the burdensome weight of Mondays and the relentless ordeal of tax declarations can prompt an almost audible sigh. A curious detail about this elusive creator is their peculiar distaste for the color orange, an anomaly that underscores their intricate personality. Through their art, they navigate the complex interplay of the known and the hidden, a reflection of their own existence. With an aura of anonymity and a palette of preferences, this artist crafts a life as captivating as the canvases they grace.</p>
<a href="/" class="back-to-main-button"> Back </a>
</div>
</body>
</html>
