body{
  font-family: 'Bricolage Grotesque', sans-serif;
}

a{
  color: grey;
  font-size: 30px;
  text-decoration: none;
}

.main-div{
  font-size: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px;
  padding: 50px;
  line-height: 50px;
  border: 1px solid black;
  border-radius: 10px;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 40px;
}

.images{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}

.back-to-main-button{
  list-style: none;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Bricolage Grotesque', sans-serif;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

#main-image{
  display: flex;
  justify-content: center;
  align-items: center;
}
